body, h1, h2{
	margin: 0px;
}

.Header{
	background: #373742;
	color: #fff;
	padding-top: 10px;
	padding-left: 20px;
	height: 100px;
	border: solid #00AAFF;

	
}
.Head{
	float: left;
	width: 20%;
}
.Menu{
	margin-left:50px;
	margin-top: 20px;
	background: #09090a;
}
.List{
	float: right;
	width: 430px;
	height: 50px;
	background: #000;
	margin: 20px;

}
ul li{
	display: inline;
	margin-right: 30px;
}

ul li a{
		color: #fff;
		text-decoration: none;
}
.Main{
	background: #373742;
	height: 360px;
	margin: 20px;
	margin-right: 50px;
	margin-left: 50px;
	border: solid #00AAFF;
}
.wrap{
	overflow: auto;
	
}
.Left{
	width: 30%;
	height: 180px;
	background:  #373742;
	float: left; 
	margin: 10px;
	margin-left: 50px;
	border: solid #00AAFF;
	
}
.Right{
	width: 30%;
	height: 180px;
	background:  #373742;
	float: right; 
	margin: 10px;
	margin-right: 50px;
	border: solid #00AAFF;
}
.Middle{
	width: 28%;
	height: 180px;
	background:  #373742;
	float: right; 
	margin: 10px;
	margin-left: 0px;
	border: solid #00AAFF;
}
.Leftpara{
	width: 30%;
	height: 180px;
	float: left; 
	margin: 10px;
	margin-left: 50px;
	border: solid #00AAFF;
}
.Rightpara{
	width: 30%;
	height: 180px;
	float: right; 
	margin: 10px;
	margin-right: 50px;
	border: solid #00AAFF;

}
.Middlepara{
	width: 28%;
	height: 180px;
	float: right; 
	margin: 10px;
	margin-left: 0px;
	border: solid #00AAFF;
}
