body, h1, h2{
	margin: 0px;
}

.Header{
	background: #373742;
	color: #fff;
	padding-top: 10px;
	padding-left: 20px;
	height: 100px;	
}
.Head{
	float: left;
	width: 20%;
}
.Menu{
	margin-left:50px;
	margin-top: 20px;
	background: #09090a;
}
.List{
	float: right;
	width: 430px;
	height: 50px;
	background: #000;
	margin: 20px;

}
ul li{
	display: inline;
	margin-right: 30px;
}

ul li a{
		color: #fff;
		text-decoration: none;
}
.Main{
	background: #373742;
	height: 360px;
	margin: 20px;
	margin-right: 50px;
	margin-left: 50px;
}
.wrap{
	overflow: auto;
	
}
.Left{
	width: 30%;
	height: 180px;
	background:  #373742;
	float: left; 
	margin: 10px;
	margin-left: 50px;
	
}
.Right{
	width: 30%;
	height: 180px;
	background:  #373742;
	float: right; 
	margin: 10px;
	margin-right: 40px;
}
.Middle{
	width: 30%;
	height: 180px;
	background:  #373742;
	float: right; 
	margin: 10px;
}
.Leftpara{
	width: 22%;
	height: 180px;
	float: left; 
	margin: 10px;
	margin-left: 50px;
}
.Rightpara{
	width: 22%;
	height: 180px;
	float: right; 
	margin: 10px;
	margin-right: 50px;
}
.Rightpara1{
	width: 22%;
	height: 180px;
	float: right; 
	margin: 10px;
	margin-right: 10px;
}
.Middlepara{
	width: 22%;
	height: 180px;
	float: right; 
	margin: 10px;
	margin-left: 10px;
}
.Leftfont{
	width: 6%;
	height: 50px;
	float: left; 
	margin: 10px;
	margin-left: 240px;
	color: orange;
}
.Rightfont{
	width: 6%;
	height: 50px;
	float: right; 
	margin: 10px;
	margin-right: 50px;
	color: orange;
}
.Rightfont1{
	width: 6%;
	height: 50px;
	float: right; 
	margin: 10px;
	margin-right: 230px;
	color: orange;
}
.Middlefont{
	width: 6%;
	height: 50px;
	float: right; 
	margin: 10px;
	margin-right: 240px;
	color: orange;
}
.dottedline{
	margin-left: 45px;
}
.div1{
	background: #373742;
	height: 30px;
	width: 30px;
}
.div2{
	background: #373742;
	height: 30px;
	width: 30px;
}
.div3{
	background: #373742;
	height: 30px;
	width: 30px;
}
.div4{
	background: #373742;
	height: 30px;
	width: 30px;
}