.center{
	background: gray;
	height: 500px;
	width: 600px;
	margin-left: 370px;
	margin-top: 80px;
}
.wrapper{
	overflow: auto;
}
.inner1{
	background: black;
	height: 20px;
	width: 100px;
	margin-top: 20px;
	margin-left: 20px;
	display: inline-block;
}
.inner2{
	background: black;
	height: 20px;
	width: 40px;
	margin-top: 20px;
	margin-left: 290px;
	display: inline-block;
}
.inner3{
	background: black;
	height: 20px;
	width: 40px;
	margin-top: 20px;
	margin-left: 20px;
	display: inline-block;
}
.inner4{
	background: black;
	height: 20px;
	width: 40px;
	margin-top: 20px;
	margin-left: 20px;
	display: inline-block;
}
.main{
	background: black;
	height: 260px;
	width: 560px;
	margin-top: 15px;
	margin-left: 20px;
}
.wrapper1{
	overflow: auto;
}
.inner5{
	background: black;
	height: 140px;
	width: 270px;
	margin-top: 20px;
	margin-left: 20px;
	display: inline-block;
}
.inner6{
	background: black;
	height: 140px;
	width: 270px;
	margin-top: 20px;
	margin-left: 15px;
	display: inline-block;
}